.mycard {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-top: 10rem;
  }
  
  body {
    background-color: rgb(190, 190, 190);
  }
  
  .social-icon {
    height: 30px;
    border-radius: 100%;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
  }
  
  .img-back {
    /* background: url(signup-bg.png) center; */
    background-size: cover;
    min-height: 300px;
  }
  
  .my-form {
    padding: 2rem;
  }